---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 2
---
<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

	<div class="footer">
		<p>Love, Maya 😘 2024</p>
<script src="https://tinylytics.app/embed/B3B9KPzVuyDBL9JvzPCY.js" defer></script>
		<br>
<p><a href='https://mayasdaydreams.com/feed/feed.xml'>RSS </a></p>
	</div>