---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<div class="container">
	<div class="sidebar">
		<div class="sidebar">
			<img width="200" height="200" src="img/avatar3.png">
	</div>

	<div class="Header">
		<h4>Currently:</h4>
			<b>📆 Date</b>: May 12, 2024<br>
			<b>🕰️ Time</b>: 8:49 AM<br>
			<b>🟡 Mood</b>: 🥲<br>
			<b>📍 Location</b>: Bay Area, CA <br>
			<img src="img/palestine.png">
	</div>


	<div class="body-area"
		{% set postsCount = collections.posts | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}

		{% set morePosts = postsCount - numberOfLatestPostsToShow %}
		{% if morePosts > 0 %}
		<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
		{% endif %}

		{# List every content page in the project #}
		{#
		<ul>
			{%- for entry in collections.all %}
			<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
			{%- endfor %}
		</ul>
		#}
	</div>
</div>