---
layout: layouts/base.njk
eleventyNavigation:
  key: Links
  order: 6
---
<h1> Links </h1>

<h2>Button Collection</h2>

<p>From my travels around the interwebs... </p>

<a href='bassdrop.club' target='_blank' height='31px' width='88px' ><img alt='Bass Drop!' src='https://bassdrop.club/assets/buttons/final_88by31.gif'></a>
<a href="https://middlepot.com" target="_blank"><img src="https://middlepot.com/button.png"></a>

<h1> Credits: </h1>
		<a href="https://www.textstudio.com/">Font generator</a>