---
layout: layouts/base.njk
eleventyNavigation:
  key: Links
  order: 6
---
<h1> Links </h1>

<h2>Button Collection</h2>

<p>From my travels around the interwebs... </p>

<a href='bassdrop.club' target='_blank' height='31px' width='88px' >link</a>
<a href="https://middlepot.com" target="_blank">link</a>

<h1> Credits: </h1>
		<a href="https://www.textstudio.com/">Font generator</a>