---
layout: layouts/home.njk
eleventyNavigation:
  key: Now
  order: 4
---
<h1>Now</h1>

 <p>What I am up to today, this week, this month, this year. 
  <br><em>inspired by <a href="https://frills.dev/now/">Frills'</a> wonderful website</em>
  <p>You should also make a <a href="https://nownownow.com/about">Now</a> page!</p>
 <br>
<small class="d-b">Last updated: Apr 2024</small>

  <hr class="my-2">

  <h2>Days</h2>

test

  <ul>
    <li>Keeping my Japanese Duolingo streak alive!</li>
    <li>Reading <em>Saving Time</em> by Jenny Odell</li>
    <li>Preparing for a stressful presentation (eek!)</li>
  </ul>
  
  <h2>Weeks</h2>
  <ul>
    <li>Wondering if I need to start looking for a job or not...</li>
    <li>Watching Tokyo Vice Season 2!</a>.
  </ul>
  
  <h2>Months</h2>
  <ul>
    <li>Mentally preparing for a move</li>
    <li>Trying to slow down in life</li>
    <li>My cat is on an allergy immunotherapy journey</li>
  </ul>
  
  <h2>Years</h2>
  <ul>
    <li>A transportation planner in a medium-big city</li>
    <li>Spending as much time outside as I can</li>
    <li>Bouncing from hobby to hobby</li>
  </ul>