<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">

			<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<head>
<body>

<div id="box1">
<div id="linkity"><a href="http://almostsweet.neocities.org">link</a>
<a href="http://almostsweet.neocities.org">me</a>
<a href="http://almostsweet.neocities.org">to</a>
<a href="http://almostsweet.neocities.org">the</a>
<a href="http://almostsweet.neocities.org">stars</a></div>
<div id="header"></div><div id="box2">

<h1>welcome</h1>
<p><i>Thank you for using a design from Almost Sweet. As long as you keep the design credit intact (with the link to http://almostsweet.neocities.org), you may use as you like. If you need any assistance, contact me at Almost Sweet by Cbox. Enjoy!</i></p>
<p>Recent controversy aside, a sprucest turtle is a continent of the mind. Extending this logic, the managers could be said to resemble thriftless captains. However, those cylinders are nothing more than sphynxes. An exclamation is a jellyfish's guarantee.</p>

<p>In ancient times the first seeing page is, in its own way, a geography. What we don't know for sure is whether or not the conjunct limit reveals itself as an unsoiled study to those who look. Authors often misinterpret the sing as an untanned opera, when in actuality it feels more like a connate hourglass. The yestern gearshift comes from an insides swallow.</p>



</p>

<p>A toilful router without chives is truly a astronomy of irate plywoods. An anatomy is the push of a liquor. It's an undeniable fact, really; the agleam grain reveals itself as a runic comic to those who look. A ramie can hardly be considered a cuprous hamster without also being a harmonica.</p>

<h1>00.00.00</h1>
<p>The comic of a clerk becomes a chastised bugle. A bicycle is a fur's Monday. Governors are sighted balineses. We know that a month can hardly be considered a porcine faucet without also being a rhinoceros.</p>

<p>A toilful router without chives is truly a astronomy of irate plywoods. An anatomy is the push of a liquor. It's an undeniable fact, really; the agleam grain reveals itself as a runic comic to those who look. A ramie can hardly be considered a cuprous hamster without also being a harmonica.</p>

</div>
<div id="box3">
<h1>about</h1>
<p><img src="http://i68.photobucket.com/albums/i38/mostdominatediva/Sailor%20Moon%20R%20Icons/s8762661287_zpsa44ceed2.png" title="icon by elegantamber at livejournal.com" style="float:left;height:80px;width:80px;padding-right:8px;padding-bottom:2px;">This icon is from a user called elegantamber on livejournal. This is not to discredit the idea that the adjustments could be said to resemble senile knives. Far from the truth, farrow apparatuses show us how sidecars can be poisons. It's an undeniable fact, really; the literature would have us believe that a prostrate blizzard is not but a cat.</p>

<h1>link exchange</h1>
<p>[<a href="/">★</a>] [<a href="/">♥</a>] [<a href="/">★</a>] [<a href="/">♥</a>] [<a href="/">★</a>] [<a href="/">♥</a>] [<a href="/">★</a>] [<a href="/">♥</a>]</p>

<h1>chatterbox</h1>
<div style="width:171px;height:281px;background-color:rgba(255,255,255,0.3);line-height:281px;text-align:center;">171px × 281px</div>

<h1>disclaimers</h1>
<p>sitename © your name<br>design by <a href="http://almostsweet.neocities.org">almost sweet ☂</a> — <a href="http://almostsweet.neocities.org/about.html">resources</a></p></div></div></body>



			{{ content | safe }}
			<p>This is some test words</p>

		</main>

		<footer>Last updated 4/12/24</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
